.displayTogether{
  display:inline !important;

}

@media (max-width: 770px) {
    .hideevent{
     display: none !important;
   }
}

@media (max-width: 800px) {
    .hideevent{
     height: 300px !important;
   }
}

@media (max-width: 768px) {
  .mobileEventFix{
  margin-left: -15px !important;
 }
}

@media (max-width: 766px) {
  .mobileMarginFix{
  margin-left: 60px !important;
 }
}

